In [1]:
import pandas as pd

In [2]:
# Langkah 1: Mount Google Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# Baca file .xlsx
file_path = '/content/drive/MyDrive/Colab Notebooks/healthcare_messy_data.xlsx'
data = pd.read_excel(file_path, engine='openpyxl')  # Gunakan openpyxl untuk file .xlsx

In [4]:
print(data)

         Patient Name    Age  Gender      Condition    Medication  \
0          david lee      25   Other  Heart Disease     METFORMIN
1        emily davis     NaN    Male       Diabetes          NONE
2     laura martinez      35   Other         Asthma     METFORMIN
3     michael wilson     NaN    Male       Diabetes     ALBUTEROL
4          david lee     NaN  Female         Asthma          NONE
..                ...    ...     ...            ...           ...
995       mary clark      70   Other         Asthma     ALBUTEROL
996       mary clark   forty   Other            NaN    LISINOPRIL
997   laura martinez   forty   Other            NaN     ALBUTEROL
998       jane smith      25    Male            NaN     ALBUTEROL
999     james taylor   forty    Male       Diabetes  ATORVASTATIN

        Visit Date Blood Pressure  Cholesterol               Email  \
0       01/15/2020         140/90        200.0   name@hospital.org
1    April 5, 2018         120/80        200.0                 NaN
2       2019.12.01         110/70        160.0  contact@domain.com
3       01/15/2020         110/70          NaN   name@hospital.org
4       2020/02/20         110/70        180.0                 NaN
..             ...            ...          ...                 ...
995     03-25-2019         110/70          NaN   name@hospital.org
996     01/15/2020            NaN        160.0                 NaN
997     2020/02/20         110/70          NaN   name@hospital.org
998  April 5, 2018         110/70        200.0                 NaN
999     2020/02/20         120/80        220.0                 NaN

     Phone Number
0    555-555-5555
1             NaN
2             NaN
3    555-555-5555
4
..            ...
995           NaN
996  123-456-7890
997           NaN
998
999  123-456-7890

[1000 rows x 10 columns]

In [5]:
print("Struktur Data Pelanggan:")
print(data.info())

Struktur Data Pelanggan:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Patient Name    1000 non-null   object
 1   Age             841 non-null    object
 2   Gender          1000 non-null   object
 3   Condition       794 non-null    object
 4   Medication      1000 non-null   object
 5   Visit Date      1000 non-null   object
 6   Blood Pressure  834 non-null    object
 7   Cholesterol     769 non-null    float64
 8   Email           616 non-null    object
 9   Phone Number    821 non-null    object
dtypes: float64(1), object(9)
memory usage: 78.3+ KB
None

In [6]:
column_types = data.dtypes
print(column_types)

Patient Name       object
Age                object
Gender             object
Condition          object
Medication         object
Visit Date         object
Blood Pressure     object
Cholesterol       float64
Email              object
Phone Number       object
dtype: object

In [28]:
# Langkah 1: Mount Google Drive
from google.colab import drive
drive.mount('/content/drive')

# Langkah 2: Import Library
import pandas as pd
import numpy as np
from dateutil import parser

# Langkah 3: Baca file .xlsx
file_path = '/content/drive/MyDrive/Colab Notebooks/healthcare_messy_data.xlsx'
data = pd.read_excel(file_path, engine='openpyxl')  # Gunakan openpyxl untuk file .xlsx

print("Struktur Data Pelanggan (Sebelum Cleansing):")
print(data.info())
print(data.head())

# ================= Cleansing Data =================

# 1. Kolom 'Patient Name' jadi huruf kapital semua
if 'Patient Name' in data.columns:
    data['Patient Name'] = data['Patient Name'].astype(str).str.upper()

# 2. Kolom 'Age' → jika bukan angka, ganti dengan 'Unknown'
if 'Age' in data.columns:
    data['Age'] = pd.to_numeric(data['Age'], errors='coerce')  # ubah non-angka jadi NaN
    data['Age'] = data['Age'].fillna('Unknown')  # isi NaN dengan Unknown

# 3. Kolom 'Visit Date' → parsing fleksibel berbagai format
if 'Visit Date' in data.columns:
    def parse_date(val):
        try:
            return parser.parse(str(val), dayfirst=False)
        except:
            return np.nan
    data['Visit Date'] = data['Visit Date'].apply(parse_date)
    data['Visit Date'] = data['Visit Date'].dt.strftime('%d/%m/%Y').fillna('Unknown')

# 4. Kolom 'Blood Pressure' → isi NaN dengan 'Unknown'
if 'Blood Pressure' in data.columns:
    data['Blood Pressure'] = data['Blood Pressure'].fillna('Unknown')

# 5. Kolom 'Cholesterol' → isi NaN dengan 'Unknown'
if 'Cholesterol' in data.columns:
    data['Cholesterol'] = data['Cholesterol'].fillna('Unknown')

# 6. Kolom 'Email' → isi NaN / kosong dengan 'Unknown'
if 'Email' in data.columns:
    data['Email'] = data['Email'].replace(['', 'nan', 'NaN', 'None'], np.nan)
    data['Email'] = data['Email'].fillna('Unknown')

# 7. Kolom 'Phone Number' → isi NaN / kosong dengan '000-000-0000'
if 'Phone Number' in data.columns:
    data['Phone Number'] = data['Phone Number'].astype(str)  # ubah ke string agar bisa cek kosong
    data['Phone Number'] = data['Phone Number'].str.strip()  # hapus spasi di awal/akhir
    data['Phone Number'] = data['Phone Number'].replace(
        ['nan', 'NaN', 'None', '', 'NULL'], np.nan
    )
    data['Phone Number'] = data['Phone Number'].fillna('000-000-0000')


# 8. Kolom 'Condition' → isi NaN / kosong dengan 'Unknown'
if 'Condition' in data.columns:
    data['Condition'] = data['Condition'].replace(['', 'nan', 'NaN', 'None'], np.nan)
    data['Condition'] = data['Condition'].fillna('Unknown')

# ==================================================

print("\nStruktur Data Pelanggan (Sesudah Cleansing):")
print(data.info())
print(data.head())

# Simpan hasil cleansing ke file baru dengan format tanggal dd/mm/yyyy
output_path = '/content/drive/MyDrive/Colab Notebooks/healthcare_cleaned.xlsx'
with pd.ExcelWriter(output_path, engine='openpyxl', date_format='DD/MM/YYYY') as writer:
    data.to_excel(writer, index=False)

print(f"\nFile hasil cleansing disimpan di: {output_path}")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
Struktur Data Pelanggan (Sebelum Cleansing):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Patient Name    1000 non-null   object
 1   Age             841 non-null    object
 2   Gender          1000 non-null   object
 3   Condition       794 non-null    object
 4   Medication      1000 non-null   object
 5   Visit Date      1000 non-null   object
 6   Blood Pressure  834 non-null    object
 7   Cholesterol     769 non-null    float64
 8   Email           616 non-null    object
 9   Phone Number    821 non-null    object
dtypes: float64(1), object(9)
memory usage: 78.3+ KB
None
       Patient Name  Age  Gender      Condition Medication     Visit Date  \
0        david lee    25   Other  Heart Disease  METFORMIN     01/15/2020
1      emily davis   NaN    Male       Diabetes       NONE  April 5, 2018
2   laura martinez    35   Other         Asthma  METFORMIN     2019.12.01
3   michael wilson   NaN    Male       Diabetes  ALBUTEROL     01/15/2020
4        david lee   NaN  Female         Asthma       NONE     2020/02/20

  Blood Pressure  Cholesterol               Email  Phone Number
0         140/90        200.0   name@hospital.org  555-555-5555
1         120/80        200.0                 NaN           NaN
2         110/70        160.0  contact@domain.com           NaN
3         110/70          NaN   name@hospital.org  555-555-5555
4         110/70        180.0                 NaN

Struktur Data Pelanggan (Sesudah Cleansing):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Patient Name    1000 non-null   object
 1   Age             1000 non-null   object
 2   Gender          1000 non-null   object
 3   Condition       1000 non-null   object
 4   Medication      1000 non-null   object
 5   Visit Date      1000 non-null   object
 6   Blood Pressure  1000 non-null   object
 7   Cholesterol     1000 non-null   object
 8   Email           1000 non-null   object
 9   Phone Number    1000 non-null   object
dtypes: object(10)
memory usage: 78.3+ KB
None
       Patient Name      Age  Gender      Condition Medication  Visit Date  \
0        DAVID LEE      25.0   Other  Heart Disease  METFORMIN  15/01/2020
1      EMILY DAVIS   Unknown    Male       Diabetes       NONE  05/04/2018
2   LAURA MARTINEZ      35.0   Other         Asthma  METFORMIN  01/12/2019
3   MICHAEL WILSON   Unknown    Male       Diabetes  ALBUTEROL  15/01/2020
4        DAVID LEE   Unknown  Female         Asthma       NONE  20/02/2020

  Blood Pressure Cholesterol               Email  Phone Number
0         140/90       200.0   name@hospital.org  555-555-5555
1         120/80       200.0             Unknown  000-000-0000
2         110/70       160.0  contact@domain.com  000-000-0000
3         110/70     Unknown   name@hospital.org  555-555-5555
4         110/70       180.0             Unknown  000-000-0000

File hasil cleansing disimpan di: /content/drive/MyDrive/Colab Notebooks/healthcare_cleaned.xlsx